@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic+Coding:wght@400;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;400&family=Share+Tech+Mono&display=swap');

:root {
  --blue:  #43c;
  --pink:  #ec05ffcc;
  --skin:  #ffc0cb; 
  --gold:  gold;
}

html {
  border : 2em solid white;
  border-width: 2em 2em 18em;
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  padding: 1em 3em 10em;
  
  font : 1.05em/1.75 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;

  transition: background .6s ease-in-out;
}

* {
  transition: color .6s ease-in-out;
}

html {
  color: white;
  background: var(--blue);
}

@media (prefers-color-scheme: light) {
  html {
    color: #222;
    background: var(--skin);
  }
}


html.light {
  color: #222;
  background: var(--skin);
}

body {
  margin: 0 auto;
  max-width: 50em;
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bodoni Moda', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  margin-top: 3rem;
}

hr {
  border: 1px solid;
  opacity: .25;
  margin: 6em 0;
}

a {
  color: var(--pink);
}

code, pre {
  background: #0002;
  padding: .3em .75em .5em;
  margin: 0 -.75em;
  border-radius: .666em;
  font-family: 'Roboto Mono';
  white-space: pre;
}

pre {
  border-radius: .5em;
}

p > code {
  background: #0002;
  padding: .3em .75em .4em;
  text-align: baseline;
}

.impressum {
  color: var(--blue);
  position: relative;
  transform: translateY(15em);
}

@media (min-width: 30em) {
  body {
    border-left: 10em;
  }

  .intro {
    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
  }

  .intro > :first-child {
    margin-top: auto;
  }
}

html::after {
  /* content: ''; */
  display: block;
  width: 40em;
  height: 40em;
  border-radius: 100%;
  position: fixed;
  bottom: -10em;
  right: -5em;
}

html::before {
  /* content: ''; */
  display: block;
  width: 40em;
  height: 40em;
  border-radius: 100%;
  background: #cc02;
  position: absolute;
  top: -10em;
  left: -5em;
}